@import "./reset";
@import "./media";
@import "./variables";
@import "./fonts";

* {
    font: {
        family: $font-family-11st;
        weight: $font-weight-regular;
        size: $default-font-size;
    }
    line-height: 1.6;
    box-sizing: border-box;
}

a {
    text: {
        decoration: none;
    }
    &:visited {
        color: $text-color-black;
    }
}

body {
    max: {
        width: $viewport-width-full;
        height: $viewport-height-full;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
}

div.divider {
    margin: 4em 0;
}

i {
    font: {
        style: italic;
    }
}