@import "./variables";

@font-face {
    font: {
        family: $font-family-11st;
        weight: $font-weight-bold;
    }
    src: url("@/assets/fonts/11STREET_Gothic_bold.otf");
}

@font-face {
    font: {
        family: $font-family-11st;
        weight: $font-weight-regular;
    }
    src: url("@/assets/fonts/11STREET_Gothic_regular.otf");
}

@font-face {
    font: {
        family: $font-family-11st;
        weight: $font-weight-light;
    }
    src: url("@/assets/fonts/11STREET_Gothic_light.otf");
}