$font-family-11st: "11StreetGothic";
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 100;

$text-color-black: #000;
$text-color-white: #fff;

$default-font-size: 18px;

$viewport-width-full: 100vw;
$viewport-height-full: 100vh;
